.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.words-info-container {
    height: 65vh;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.word-board {
    width: auto;
}

.vertical-delimiter {
    height: 65vh;
    border-left: 4px solid rgb(109, 109, 109);
    margin-left: 50px;
}

.keyboard {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 25px;
}