.board-buttons {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
}

.green-button, .yellow-button, .gray-button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: none !important;
    cursor: pointer;
}

div > .green-button {
    background-color: rgb(82, 141, 79);
}

div > .yellow-button {
    background-color: rgb(180, 159, 59);
}

div > .gray-button {
    background-color: rgba(59, 59, 61);
}

.active-color {
    border-color: rgb(0, 255, 0) !important;
    border-style: solid !important;
    border-width: 4px !important;
    box-sizing: border-box;
}

.reset-button {
    color: red;
    font-size: 50px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.words-list {
    height: 60vh;
    overflow-y: auto;
    padding-right: 15px;
}

.word-container-row {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.letter-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-color: rgba(59, 59, 61);
    border-style: solid;
    box-sizing: border-box;
    font-size: 2em;
    font-weight: bold;
    user-select: none;
}