<div class="board-buttons">
    <div class="gray-button" [ngClass]="{'active-color': selectedColor == letterColor.Gray}" (click)="selectLetterColor(letterColor.Gray)"></div>
    <div class="yellow-button" [ngClass]="{'active-color': selectedColor == letterColor.Yellow}" (click)="selectLetterColor(letterColor.Yellow)"></div>
    <div class="green-button" [ngClass]="{'active-color': selectedColor == letterColor.Green}" (click)="selectLetterColor(letterColor.Green)"></div>
    <div class="reset-button material-symbols-outlined" (click)="resetBoard()">restart_alt</div>
</div>

<div class="words-list">
    <div class="word-container-row">
        <div *ngFor="let _ of [].constructor(keyboardService.maxWordLength); let letterIndex = index" class="letter-container">{{ keyboardService.currentWord[letterIndex] }}</div>
    </div>
    <div *ngFor="let word of keyboardService.submittedWords.slice().reverse()" class="word-container-row">
        <div *ngFor="let _ of [].constructor(keyboardService.maxWordLength); let letterIndex = index" class="letter-container" [class]="this.getStyleColorOfLetter(word, letterIndex)" (click)="keyboardService.updateColorConstraints(word, letterIndex, selectedColor)">{{ word[letterIndex] }}</div>
    </div>
</div>
